@Model as PageModel

<div>
    <a href="/Manager/Blog?pageIndex=@Model.First&pageRows=5">First Page</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/Manager/Blog?pageIndex=@Model.Previous&pageRows=5">Previous</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/Manager/Blog?pageIndex=@Model.Next&pageRows=5">Next</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/Manager/Blog?pageIndex=@Model.Last&pageRows=5">Last Page</a>
    &nbsp;&nbsp;&nbsp;&nbsp; Total page count:@Model.Count
    &nbsp;&nbsp;&nbsp;&nbsp; Current page index:@Model.PageIndex
    &nbsp;&nbsp;&nbsp;&nbsp; Total rows:@Model.Total
</div>

