
<div>
    <a href="@Model.FirstPageUrl">First Page</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="@Model.PreviousPageUrl">Previous</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="@Model.NextPageUrl">Next</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="@Model.LastPageUrl">Last Page</a>
    &nbsp;&nbsp;&nbsp;&nbsp; Total page count:@Model.Count
    &nbsp;&nbsp;&nbsp;&nbsp; Current page index:@Model.PageIndex
    &nbsp;&nbsp;&nbsp;&nbsp; Total rows:@Model.Total
</div>

